body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 1168px;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
.logo-web {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #4d5ae5;
}
.logo-studio1 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.logo-studio2 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #ffffff;
}

.list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
address {
  font-style: normal;
  letter-spacing: 2%;
}
.main-top {
  background-color: #2e2f42;
  width: 100%;
  height: 600px;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #ffffff;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f43;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}
.main-button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
}
footer {
  background-color: #2e2f42;
  height: 312px;
}
.footer-text {
  color: #ffffff;
}
